<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">

    <!-- Title Page-->
    <title>Tables</title>

    <!-- Fontfaces CSS-->
    <link href="../assets/css/font-face.css" rel="stylesheet" media="all">
    <script src="https://kit.fontawesome.com/5ca7d30588.js" crossorigin="anonymous"></script>
    <link href="../assets/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link href="../assets/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="../assets/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="../assets/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="../assets/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="../assets/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="../assets/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Main CSS-->
    <link href="../assets/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition" >
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="../assets/images/icon/logo(2).png" alt="Cyborg" height="100px" width="100px"/>
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="response.html">
                                <i class="fas fa-medal"></i>View Certificates</a>

                        </li>


                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="index.html">
                    <img src="../assets/images/icon/logo(2).png" alt="Cyborg" height="100px" width="100px"/>
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="has-sub">
                            <a class="js-arrow" href="response.html">
                                
                                <i class="fas fa-medal"></i>View Certificates</a>
                        </li>



                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
       <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">

                            </form>
                            <div class="header-button">
                                <div class="noti-wrap">
                                    <div class="noti__item js-item-menu">
                                        
                                        
                                        <div class="mess-dropdown js-dropdown">
                                            
                                            <div class="mess__item">
                                                
                                                <div class="content">
                                                   
                                                    
                                                </div>
                                            </div>
                                            <div class="mess__item">
                                                
                                                <div class="content">
                                                   
                                                    
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>


                                </div>
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="../assets/images/icon/avatar-01.jpg" alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn user_name" href="#">Anonymous</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="../assets/images/icon/avatar-01.jpg" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="user_name">
                                                        <a href="#">Anonymous</a>
                                                    </h5>
                                                    <span class="user_email">johndoe@nitrkl.ac.in</span>
                                                </div>
                                            </div>

                                            <div class="account-dropdown__footer">
                                                <a href="#" id="signoutBtn">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- END HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">

                        <div class="row">
                            <div class="col-12 col-md-5">
                                <!-- DATA TABLE -->
                                <h3 class="title-5 m-b-35">Request table</h3>
                            </div>
                            <div class="col-12 col-md-5">
                                <div class="text-md-right">

</div>
</div>
  <div class="col-md-12">
 <table class="table table-hover">
  <thead id="tbval" class="thead-light">
    <tr>
      
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">rollno</th>
      <th scope="col">Status</th>

    </tr>
  </thead>
  <tbody id ="data">
    <tr>

      

      
    </tr>
  </tbody>
</table>
<td>

</div>
</div>
</div></div>
<div class="main-content">
                <div class="section__content section__content--p30">

                        <div class="row">
                            <div class="col-12 col-md-5">
                                <!-- DATA TABLE -->
                                <h3 class="title-5 m-b-35">Approved Table</h3>
                            </div>
                            <div class="col-12 col-md-5">
                                <div class="text-md-right">

</div>
</div>
  <div class="col-md-12">
 <table class="table table-hover">
  <thead id="tbval1" class="thead-light">
    <tr>
      <th scope="col">Sl.No.</th>
      <th scope="col">Name</th>
      <th scope="col">rollno</th>
      

    </tr>
  </thead>
  <tbody id ="data">
    <tr>
      
      

    </tr>
  </tbody>
</table>


</div>
</div>
</div></div>

</div>
</div>



    <!-- Jquery JS-->
     <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <!-- Bootstrap JS-->
    <script src="../assets/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="../assets/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="../assets/vendor/wow/wow.min.js"></script>
    <script src="../assets/vendor/animsition/animsition.min.js"></script>
    <script src="../assets/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="../assets/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="../assets/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>

    <!-- Main JS-->
    <script src="../assets/js/main.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script >
        $(document).ready(function(){
            $.getJSON("../apis/abc.json",
                function(data){
                    
                    $.each(data,function(key,value)
                    {
                        var details ='<tr>';
                       
                        details+='<td>'+value.id+'</td>';

                        details+='<td>'+value.name+'</td>';
                        details+='<td>'+value.rollno+'</td>';
                        details += '<td><button type="button" class="btn btn-success tp">Approve</button></td>';


                       
                        
                        

                        details+='</tr>';
                        $('#tbval').append(details);
                       

                    });

                    

                });
                    
        });



                
    </script>
    <script >
       $(document).ready(function(){

    // code to read selected table row cell data (values).
    $("#tbval").on('click','.tp',function(){
         // get the current row
         var currentRow=$(this).closest("tr"); 
         
         var id=currentRow.find("td:eq(0)").text(); 
         $.ajax({
             url:'../apis/update.php',
             method:"POST",
             data:{id:id,},
             success:function(response)
              { 
                console.log((response));
                var res = JSON.parse(response);
                 if (res.status == "success") {
                swal('Approved!!', '', 'success').then((value) => {
                                    window.location = 'response.html';
                                    });
                 }
                  else {

                  swal(res.message, '', 'error');
                                

                 }
                    }
         });
        return false;
                });
                return false;
            });

         
         
         

   
    </script>
     <script >
        $(document).ready(function(){
            $.getJSON("../apis/abc1.json",
                function(data){
                    var details = '';
                    $.each(data,function(key,value)
                    {
                        details+='<tr>';
                        details+='<td>'+value.id+'</td>';

                        details+='<td>'+value.name+'</td>';
                        details+='<td>'+value.rollno+'</td>';
                       
                        


                        details+='</tr>';
                    });
                    $('#tbval1').append(details);
                });
        });



                
    </script>

    <script src="../assets/ajax/check_login1.js"></script>
    <script src="../assets/ajax/logout.js"></script>

</body>

</html>
<!-- end document-->